body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.makeStyles-resultBox-14{
	overflow-y: hidden !important;
	max-height: 100% !important; 
	height: 99.6%;
    overflow-x: hidden;
}

.MuiBox-root.MuiBox-root-84,
.MuiBox-root.MuiBox-root-201,
.MuiBox-root.MuiBox-root-143,
.MuiBox-root.MuiBox-root-141,
.MuiBox-root.MuiBox-root-108 {
	padding-top: 2px !important;
	padding-bottom: 40px;
}


.MuiBox-root-187 > .makeStyles-root-188:nth-child(even) {
  display: none;
}
.MuiBox-root.MuiBox-root-79 .MuiBox-root.MuiBox-root-81,
.MuiBox-root.MuiBox-root-79 .MuiBox-root.MuiBox-root-105 {
  display: none;
}